################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode2015/v15/Browse.VC.opendb
